.screen-header {
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.screen-header__title {
  font-size: 33px;
  font-weight: 600;
}

.screen-header_icons {
  margin-right: 10px;
}

.screen-header__title {
  margin-left: 10px;
}
